/* ---------------------
FOOTER
------------------------ */

.footer {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  text-align: left;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-top: 1px solid #e9ebeb;
  width: 100%;
  color: #0d1230;
  font-size: 12px;
}
.footer a {
  color: #0d1230;
  font-weight: bold;
  text-decoration: none;
}
